services:
  dev-agent:
    container_name: dev-agent
    image: dev-agent
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - "${PWD}:/usr/src/work"
      - "${PWD}/../appoptics-bindings-node:/usr/src/bindings"
      - "${PWD}/../node-instrumented:/usr/src/instrumented"
      - ~/.gitconfig:/root/.gitconfig
      - ~/.ssh:/root/.ssh 
      - ~/.aws/credentials:/root/.aws/credentials
      - ~/.aws/config:/root/.aws/config
    working_dir: /usr/src/work
    env_file:
      - ../.env # contains AO_TOKEN_STG, AO_TOKEN_PROD, APPOPTICS_SERVICE_KEY.
    environment:
      APPOPTICS_LOG_SETTINGS: error,warn,patching,bind,debug
      APPOPTICS_COLLECTOR: localhost:7832
      APPOPTICS_REPORTER: udp

      AO_TEST_CASSANDRA_2_2: cassandra:9042
      AO_TEST_MEMCACHED_1_4: memcached:11211
      AO_TEST_MONGODB_2_4: mongo_2_4:27017
      AO_TEST_MONGODB_2_6: mongo_2_6:27017
      AO_TEST_MONGODB_3_0: mongo_3_0:27017
      AO_TEST_SQLSERVER_EX: mssql:1433
      AO_TEST_MYSQL: mysql:3306
      AO_TEST_ORACLE: oracle:1521
      AO_TEST_POSTGRES: postgres:5432
      AO_TEST_RABBITMQ_3_5: rabbitmq:5672
      AO_TEST_REDIS_3_0: redis:6379
    ports:
      - "9229:9229"
      - "3000:3000"
    links:
      - cassandra
      - memcached
      - mongo_2_4
      - mongo_2_6
      - mongo_3_0
      - mssql
      - mysql
      - postgres
      - rabbitmq
      - redis
      - oracle
    command: >
        bash -c "npm install --unsafe-perm
        && /bin/bash"

  # Containers required for testing supported probes
  cassandra:
    container_name: "cassandra"
    image: cassandra:2 
    ports:
      - "9042:9042"

  memcached:
    container_name: "memcached"
    image: memcached 
    ports:
      - "11211:11211"

  mongo_2_4:
    container_name: "mongo_2_4" 
    image: mongo:2.4 
    ports:
      # host:container
      - "27016:27017"

  mongo_2_6:
    container_name: "mongo_2_6"
    image: mongo:2.6 
    ports:
      - "27017:27017"

  mongo_3_0:
    container_name: "mongo_3_0"
    image: mongo:3 
    ports:
      # host:container
      - "27018:27017"

  mssql:
    container_name: "mssql"
    image: "mcr.microsoft.com/mssql/server:2017-CU8-ubuntu"
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=true
      - SA_PASSWORD=MeetSQL2017requirements!

  mysql:
    container_name: "mysql_5_7"
    image: "mysql:5.7.13"
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=admin

  oracle:
    container_name: "oracle"
    image: "traceqa/oracle-express" # traceqa is a SolarWinds account
    ports:
      - "1521:1521"

  postgres:
    container_name: "postgres"
    image: "postgres"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=xyzzy

  rabbitmq:
    container_name: "rabbitmq" 
    image: rabbitmq:3-management 
    ports:
      - "5672:5672"
      - "5671:5671"

  redis:
    container_name: "redis"
    image: redis  
    ports:
      - "6379:6379"
