name: Push - Core Tests (on push)

# workflow is for a branch push only and ignores master.
# push to master (which is also pull request merge) has a more elaborate workflow to run
# github repo is configured with branch protection on master.
on: 
  push:
    branches-ignore:
      - 'master'
      # any branch with a name ending in -no-action will not trigger this workflow.
      - '*-no-action'

  workflow_dispatch:
    inputs: 
      node:
        required: false
        description: 'A node version (e.g 10.16.0)'
        default: '16'

jobs:
  core-tests:
    name: Core Tests
    runs-on: ubuntu-latest # environment job will run in

    env:
      # tests run against a "local" udp "collector"
      SW_APM_LOG_SETTINGS: error,warn,patching,bind,debug
      SW_APM_COLLECTOR: localhost:7832
      SW_APM_REPORTER: udp
      SW_APM_SERVICE_KEY: ${{ secrets.SW_APM_SERVICE_KEY }}
      SW_APM_TEST_SERVICE_KEY: ${{ secrets.SW_APM_TEST_SERVICE_KEY }}
      SW_APM_TEST_COLLECTOR: ${{ secrets.SW_APM_TEST_COLLECTOR }}

    steps:
      - name: Checkout ${{ github.ref }}
        uses: actions/checkout@v2

      - name: Setup Node ${{ github.event.inputs.node || '16' }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ github.event.inputs.node || '16' }}

      - name: Show Environment Info
        run: |
          printenv
          node --version
          npm --version 
          cat /etc/os-release

      - name: NPM Install
        run: npm install  --unsafe-perm

      - name: Run Core Tests
        run: npm run test:core
